form{
    input,
    textarea,
    select{
        color: $grey;
        font-family: Roboto !important;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0;
        padding: 15px 10px;
        border: solid 1px $grey;
        border-radius: 0;
        &:active,
        &:focus{
            outline: none;
            box-shadow: none;
        }        
    } 
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: $white;
        background-image: url("../images/caret-selectbox.svg");
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 21px;
        cursor: pointer;
    } 
    input[type="file"]{
        border: none;
        padding: 15px 0 15px 85px;
        color: $black;
        position: relative;
        &::-webkit-file-upload-button {
            visibility: hidden;
        }
        &::before {
            content: 'Attach File';
            position: absolute;
            top: 15px;
            left: 0;
            background: #cbcbcb;
            border: none;
            border-radius: 16px;
            width: 170px;
            height: 32px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-family: Roboto-Light;
            font-size: 14px;
            line-height: 32px;
            color: $black;
            text-align: center;
        }
    } 
    label{
        font-family: Roboto-Medium;
        font-size: 18px;
        color: $black;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
    .help-text{
        font-family: Roboto-Light;
        font-size: 14px;
        color: $black;
        letter-spacing: 0;
    }
    .form-group{
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    } 
}
::-webkit-input-placeholder { 
    color: $grey !important;
}
::-moz-placeholder { 
    color: $grey !important;
}
:-ms-input-placeholder { 
    color: $grey !important;
}
:-moz-placeholder {
    color: $grey !important;
}
::placeholder {
    color: $grey !important;
}